@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

/* removing all the default styling set */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #d88771);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    height: 47px;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover{
    background: #d88771;
    color: white;

}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.todo-list{
    min-width: 30%;
    list-style: none; /* remove the dot of listing elements */
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex; /* All items sit next to each others*/
    justify-content: space-between; /* first element and last element are pushed to extreme and space evenly distributed in between*/
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1; /* push all the items at the end*/
}

.trash-btn, .complete-btn {
    background: #ee886c;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(156, 225, 156);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    /* removing style of select element to restyle as our wish */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    color: #d88771;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

/* Putting the arrow back to the container  */
.select::after{
    content: "\25BC";
    position: absolute;
    background: #d88771;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

